# Ignorar archivo de entorno
    .env

# Ignorar carpeta de dependencias de Node.js
    node_modules/

# Ignorar archivos de logs
    *.log

# Ignorar configuraciones de VSCode
    .vscode/

# Ignorar archivos generados por el sistema operativo
    .DS_Store
    Thumbs.db

# Ignorar archivos de bloqueos de paquetes
    package-lock.json

# Ignorar archivos SQL de base de datos (la carpeta sql hay que crearla en public)
    *.sql

# Ignorar archivos Excel de datos (la carpeta public hay que crearla en raiz)
    *.csv
    *.xls
    *.xlsx
